@font-face {
  font-family: 'PT sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format(woff2);
  font-display: swap;
}

@font-face {
  font-family: 'PT sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format(woff2);
  font-display: swap;
}

body {
  box-sizing: border-box;
  margin: 0;

  font-family: 'PT sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;

  background: #F2F2F2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  background: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* BUTTONS */

 .button {
}

.button-nav {
}

.button-search {
  padding: 8px 50px;
  margin: 0;

  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;

  border: none;
  background-color: #756157;
  border-radius: 4px;

  cursor: pointer;
}

.button-search:hover,
.button-search:focus {
  background-color: #615048;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-search:disabled {
  background-color: #E5E5E5;
}

.btn-submit {
}

.btn-reset {
}

.subscribe-button {
  margin: 0;
  padding: 8px 50px;

  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: 36px;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  color: #FFFFFF;

  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  border: none;

  cursor: pointer;
}

.housing-card-btn-more {
  display: inline-block;
  padding: 8px 26px;

  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

  border-radius: 4px;
  border: none;
  background-color: #756157;
}

.housing-card-btn-more:hover,
.housing-card-btn-more:focus {
  background-color: #615048;
}

.housing-card-btn-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.housing-card-btn-more:disabled {
  background-color: #E5E5E5;
}

.housing-card-btn-fav {
  padding: 8px 20px;

  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

  background-color: #82B3D3;
  border-radius: 4px;
  border: none;

  cursor: pointer;
}

.housing-card-btn-fav:hover,
.housing-card-btn-fav:focus {
  background-color: #68A2CA;
}

.housing-card-btn-fav:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.housing-card-btn-fav:disabled {
  background-color: #E5E5E5;
}

.sorting {
  width: 44px;
  height: 44px;
  margin-left: 8px;

  border: 2px #000000 solid;
  border-radius: 4px;
}

/* HEADER */

.site-header {
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  height: 64px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation-user {
  margin-right: 70px;
  margin-left: auto;
  align-items: center;
}

.navigation-item {
  list-style-type: none;
}

.navigation-logo {
  margin-left: 70px;
  margin-right: 28px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.navigation-link-current {

  border-bottom: 3px solid #756257;
}

.page-header-logo {
}

/* MAIN */

/* .main-index {
}

.main-inner {
} */

/* HERO */

.hero {
  margin-bottom: 5px;
  text-align: center;

  background-image: url("../pictures/index-background.jpg");
  background-position: top;
  background-size: 1200px auto;
  background-repeat: no-repeat;
  background-color: #82B3D3;
}

.logo {
  margin-top: 51px;
  margin-bottom: 20px;
}

.divider {
  display: block;
}

.title-text {
  margin-top: 64px;
  margin-bottom: 20px;
  grid-column: span 3;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.advantages .title-text:first-child {
  margin-bottom: 25px;
}

.other-text {
  margin-top: 0;
  margin-bottom: 64px;
  grid-column: span 3;

  text-align: center;
  color: #333333;
}

.advantages .other-text:nth-child(2) {
  margin-bottom: 90px;
}

.subscribe .other-text,
.search .other-text {
  margin-bottom: 54px;
}

.search .title-text,
.subscribe .title-text {
  margin-top: 0;
}

/* ADVANTAGES */

.advantages {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-box {
  width: 400px;
  height: 385px;
  padding: 80px 85px;

  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.advantages-list .advantages-box {
  justify-content: space-between;
}

.bg-transparency-12 {
  background: rgba(131, 179, 211, 0.12);
}

.bg-transparency-20 {
  background: rgba(131, 179, 211, 0.2);
}

.bg-transparency-00 {
  background: rgba(131, 179, 211);
}

.advantages-img {
  width: 800px;
  height: 385px;

  grid-column: span 2;
}

.advantages-h3 {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-p {
  margin: 0;

  font-size: 18px;
  line-height: 21px;
}

.light-text {
  color: #FFFFFF;
}

.the-line {
  height: 2px;
  width: 60px;
  margin-top: 30px;
  margin-bottom: 30px;

  border: none;
  background: rgba(51, 51, 51, 0.3);
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);

  list-style-type: none;
}

/* SEARCH */

.search {
  padding: 96px 304px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* SUBSCRIBE */

.subscribe {
  display: flex;
  padding: 96px 258px 104px 258px;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}

.subscribe-index {
  background-image: url("../pictures/index-canyon-blur.jpg");
  background-position: top;
  background-size: 1200px auto;
  background-repeat: no-repeat;
  background-color: #82B3D3;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.email-input {
  padding-left: 20px;
  width: 452px;
  min-height: 52px;

  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
}

.email-input:active,
.email-input:hover,
.email-input:focus {
  outline: 0;
  outline-offset: 0;

  background-color: #e6e6e6;
}

/* FOOTER */

.footer {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list {
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 45px 0 35px 70px;
  padding: 0;

  list-style-type: none;
}

.social-item {
  padding: 0 13px;
}

.vk {
  width: 24px;
  height: 14px;
  display: block;
  mask: url(../images/socials/vk.svg) no-repeat center;
  -webkit-mask: url(../images/socials/vk.svg) no-repeat center;
  background-color: #83B3D3;
}

.telegram {
  width: 18px;
  height: 16px;
  display: block;
  mask: url(../images/socials/telegram.svg) no-repeat center;
  -webkit-mask: url(../images/socials/telegram.svg) no-repeat center;
  background-color: #83B3D3;
}

.youtube {
  width: 22px;
  height: 17px;
  display: block;
  mask: url(../images/socials/youtube.svg) no-repeat center;
  -webkit-mask: url(../images/socials/youtube.svg) no-repeat center;
  background-color: #83B3D3;
}

.vk:hover,
.vk:focus,
.telegram:hover,
.telegram:focus,
.youtube:hover,
.youtube:focus {
  background-color: #68A2CA;
}

.vk:active,
.telegram:active,
.youtube:active {
  background-color: rgba(104, 162, 202, 0.3);
}

.htmlacademy {
  width: 115px;
  height: 33px;
  display: block;
  margin-right: 70px;
  margin-top: 9px;
  mask: url(../images/html-academy-logo.svg) no-repeat center;
  -webkit-mask: url(../images/html-academy-logo.svg) no-repeat center;
  background-color: #000000;
}

.htmlacademy:hover,
.htmlacademy:focus {
  background-color: #756157;
}

.htmlacademy:active {
  background-color: rgba(117, 97, 87, 0.3);
}

.phone {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
}

.phone:hover,
.phone:focus {
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

/* FILTER */

.filter {
  padding: 35px 70px 70px;
  height: 412px;
  box-sizing: border-box;

  background-image: url("../pictures/catalog-background.jpg");
  background-position: top;
  background-color: #82B3D3;
  /* background-repeat: no-repeat; */
}

.h1_catalog {
  margin: 0;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

/* BREADCRUMB */

.breadcrumb {
  margin: 0;
  padding: 0;
  display: flex;

  list-style-type: none;
}

/* .breadcrumb-item::after {
content: '';
position: absolute;
background-image: url(../images/next-breadcrumbs.svg);
background-position: top 5px left 10px;
background-repeat: no-repeat;
width: 8px;
height: 11px;
padding: 10px 10px;
}

.breadcrumb-item:last-child:after {
  display: none;
} */

.breadcrumb-link {
  margin-right: 28px;

  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

/* FORM */

.catalog-filter {
  display: flex;
}

/* .catalog-filter-group {
} */

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

.catalog-filter-list {
    list-style-type: none;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

/* .control {
}

.control-input {
} */

/* CATALOG */

/* .catalog {
} */

.counter {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  margin-left: auto;
  margin-right: 70px;
}

.housing-list-header {
  width: 1060px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 70px 40px 70px;
}

.housing-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  margin-left: 70px;
  margin-right: 70px;
  padding: 0;

  list-style-type: none;
}

.housing-card {
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 16px;
  column-gap: 20px;
  width: 298px;
  height: 396px;
  margin: 0;
  padding: 20px;

  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.housing-card-rating {
  width: 140px;
  height: 37px;
  margin: 0;

  font-size: 16px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;

  background: #F2F2F2;
  border-radius: 4px;
}

.housing-card-title {
  grid-column: span 2;
  margin: 10px 0 0 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.housing-card-price {
  margin: 0;

  font-size: 18px;
  line-height: 21px;
}

.housing-card-price:nth-child(3) {
  text-align: right;
}

.housing-card-link{
  grid-area: 1 / 1 / 2 / 3;
  text-decoration: none;
  color: #000000;
}

.housing-card-image {
  grid-column: span 2;
  object-fit: contain;
}

/* PAGINATION */

.pagination {
  display: flex;
  padding: 0;
  padding-top: 40px;
  margin: 39px 70px 60px 70px;

  border-top: 1px solid #E6E6E6;

  list-style-type: none;
}

.pagination-item {
  width: 60px;
  height: 60px;
  margin-right: 8px;

  text-align: center;

  background: #82B3D3;
  border-radius: 4px;
}

.pagination-current-item {
  background: #F2F2F2;
}

.pagination-link {
  display: block;

  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  color: #ffffff;
}

.pagination-current,
.pagination-skip {
  color: #000000;
}

.pagination-skip {
  background: #ffffff;
}
