@font-face {
  font-family: 'PT sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format(woff2);
  font-display: swap;
}

@font-face {
  font-family: 'PT sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format(woff2);
  font-display: swap;
}

body {
  box-sizing: border-box;
  margin: 0;

  font-family: 'PT sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;

  background: #F2F2F2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  background: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* BUTTONS */

/* .button {
}

.button-nav {
}

.button-search {
}

.btn-submit {
}

.btn-reset {
}

.housing-card-btn-more {
}

.housing-card-btn-fav {
} */

/* HEADER */

.site-header {
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  height: 64px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation-user {
  margin-right: 30px;
  margin-left: auto
}

.navigation-item {
  list-style-type: none;
  padding: 20px 16px;
}

.navigation-logo {
  margin-left: 70px;
  margin-right: 30px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

/* .navigation-link-current {
}

.page-header-logo {
} */

/* MAIN */

/* .main-index {
}

.main-inner {
} */

/* HERO */

.hero {
  margin-bottom: 3px;
  text-align: center;

  background-image: url("../pictures/index-background.jpg");
  background-position: top;
  background-size: 1200px auto;
  background-repeat: no-repeat;
  background-color: #82B3D3;
}

.logo {
  margin-top: 51px;
  margin-bottom: 20px;
}

.divider {
  display: block;
}

.title-text {
  margin-top: 66px;
  margin-bottom: 25px;
  grid-column: span 3;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.other-text {
  margin-top: 0;
  margin-bottom: 90px;
  grid-column: span 3;

  text-align: center;
  color: #333333;
}

/* ADVANTAGES */

.advantages {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-box {
  width: 230px;
  height: 385px;
  padding: 0 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.bg-transparency-12 {
  background: rgba(131, 179, 211, 0.12);
}

.bg-transparency-20 {
  background: rgba(131, 179, 211, 0.2);
}

.bg-transparency-00 {
  background: rgba(131, 179, 211);
}

.advantages-img {
  width: 800px;
  height: 385px;

  grid-column: span 2;
}

.advantages-h3 {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-p {
  margin: 0;

  font-size: 18px;
  line-height: 21px;
}

.light-text {
  color: #FFFFFF;
}

.the-line {
  height: 2px;
  width: 60px;
  margin-top: 30px;
  margin-bottom: 30px;

  border: none;
  background: rgba(51, 51, 51, 0.3);
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);

  list-style-type: none;
}

/* SEARCH */

.search {
  width: 1200px;
  height: 406px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}

/* SUBSCRIBE */

.subscribe {
  width: 1200px;
  height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}

.subscribe-index {
  background-image: url("../pictures/index-canyon-blur.jpg");
  background-position: top;
  background-size: 1200px auto;
  background-repeat: no-repeat;
  background-color: #82B3D3;
}

/* FOOTER */

.footer {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list {
  width: 142px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 45px 0 35px 70px;
  padding: 0;

  list-style-type: none;
}

/* .social-item {
} */

.vk {
  width: 24px;
  height: 14px;
  display: block;
  mask: url(../images/socials/vk.svg) no-repeat center;
  -webkit-mask: url(../images/socials/vk.svg) no-repeat center;
  background-color: #83B3D3;
}

.telegram {
  width: 18px;
  height: 16px;
  display: block;
  mask: url(../images/socials/telegram.svg) no-repeat center;
  -webkit-mask: url(../images/socials/telegram.svg) no-repeat center;
  background-color: #83B3D3;
}

.youtube {
  width: 22px;
  height: 17px;
  display: block;
  mask: url(../images/socials/youtube.svg) no-repeat center;
  -webkit-mask: url(../images/socials/youtube.svg) no-repeat center;
  background-color: #83B3D3;
}

.vk:hover,
.vk:focus,
.telegram:hover,
.telegram:focus,
.youtube:hover,
.youtube:focus {
  background-color: #68A2CA;
}

.vk:active,
.telegram:active,
.youtube:active {
  background-color: rgba(104, 162, 202, 0.3);
}

.htmlacademy {
  width: 115px;
  height: 33px;
  display: block;
  margin-right: 70px;
  margin-top: 9px;
  mask: url(../images/html-academy-logo.svg) no-repeat center;
  -webkit-mask: url(../images/html-academy-logo.svg) no-repeat center;
  background-color: #000000;
}

.htmlacademy:hover,
.htmlacademy:focus {
  background-color: #756157;
}

.htmlacademy:active {
  background-color: rgba(117, 97, 87, 0.3);
}

.phone {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
}

.phone:hover,
.phone:focus {
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

/* FILTER */

.filter {
  padding: 35px 70px 70px;

  background-image: url("../pictures/catalog-background.jpg");
  background-position: top;
  background-color: #82B3D3;
  /* background-repeat: no-repeat; */
}

.h1_catalog {
  margin: 0;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

/* BREADCRUMB */

/* .breadcrumb {
}

.breadcrumb-item {
} */

.breadcrumb-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

/* FORM */

/* .catalog-filter {
}

.catalog-filter-group {
} */

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

/* .catalog-filter-list {
} */

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

/* .control {
}

.control-input {
} */

/* CATALOG */

/* .catalog {
} */

.counter {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

/* .select-control {
} */

.housing-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.housing-card {
  width: 300px;
  height: 398px;
  margin: 0 20px 20px 0;
  padding: 20px;

  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.housing-card-rating {
  width: 140px;
  height: 37px;
  margin: 0;

  font-size: 16px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;

  background: #F2F2F2;
  border-radius: 4px;
}

.housing-card-title {
  margin: 12px 0 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.housing-card-price {
  margin: 15px 0;

  font-size: 18px;
  line-height: 21px;
}

.housing-card-link{
  text-decoration: none;
  color: #000000;
}

/* .housing-card-image {
  display: block
} */

/* .stars {
} */

/* PAGINATION */

/* .pagination {
} */

.pagination-item {
  width: 60px;
  height: 60px;
  margin: 0 8px 8px 0;

  text-align: center;

  background: #82B3D3;
  border-radius: 4px;
}

.pagination-current-item {
  background: #F2F2F2;
}

.pagination-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  color: #ffffff;
}

.pagination-current,
.pagination-skip {
  color: #000000;
}

.pagination-skip {
  background: #ffffff;
}
